<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>GA Courses</title>
        <style>
            body {
                background-color: yellow;
                }
        </style>

    </head>

    <body>
        <p>This list of courses provided by the GA program:</p>
        <h1>Web Application Systems</h1>
        <h3>Start Date: April 1, 2022</h3>
        <p>This is the most useful, most valuable and most inspiring course ever!</p>
        <h1>Software Engineering</h1>
        <h3>Start Date: June 1, 2022</h3>
        <p>This course is about good software engineering practices.</p>
    </body>
</html>